<%= form_for @form do |f| %>
  <% if @form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@form.errors.count, "error") %> prohibited this form from being saved:</h2>
      <ul>
      <% @form.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :form_type_id %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>


  <%= f.fields_for :properties, OpenStruct.new(@form.properties) do |builder| %>
    <% @form.form_type.fields.each do |field| %>
      <%= render "forms/fields/#{field.field_type}", field: field, f: builder %>

    <% end %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
