<h1>Forms</h1>

<% if @forms.empty? %>
  <p><strong>No forms</strong></p>
<% end %>

<% @forms.each do |form| %>
<div class="form">
  <h4>
    <%= form.form_type.name %>
    <%= form.name %>
    <td><%= link_to 'Show', form %></td>
    <td><%= link_to 'Edit', edit_form_path(form) %></td>
    <td><%= link_to 'Destroy', form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </h4>

</div>
<% end %>

<%= form_tag new_form_path, method: :get do %>
  <%= select_tag :form_type_id, options_from_collection_for_select(FormType.all, :id, :name) %>
  <%= submit_tag "New Form", name: nil %>
<% end %>
