
  <div class="billboard">
    <h1 class="editHead">Forms</h1>

    <% if @forms.empty? %>
      <p><strong>No forms</strong></p>
    <% end %>


    <% @forms.each do |form| %>

      <!-- For each form, examine each form individually to check relations to
          signatures and the current user -->
      <% signaturePresent = false%>
      <% if (Signature.where(:user_id => current_user.id).present?)%>
      <% signature = Signature.where(:user_id => current_user.id).first
         signaturePresent = true%>
      <% end %>
      <div class="form">
        <h4>
          <%if ((form.user_id == current_user.id) || (current_user.role? :admin) || (signaturePresent))%>
          <%= form.name %>
          <td><%= link_to 'Show', form %></td>
          <% if ((current_user.role? :admin) || (form.user_id == current_user.id)) %> <td><%= link_to 'Edit', edit_form_path(form) %></td><% end %>
          <td><% if ((current_user.role? :admin) || (form.user_id == current_user.id)) %> <%= link_to 'Delete', form, method: :delete, data: { confirm: 'Are you sure? This action is PERMANENT.' } %></td> <% end %>
        </h4>
      <% end %>
      </div>

      <% end %>


    <%= form_tag new_form_path, method: :get do %>
      <%= select_tag :form_type_id, options_from_collection_for_select(FormType.all, :id, :name) %>
      <%= submit_tag "Select", name: nil %>
  </div>

<% end %>
