<h1>Forms</h1>

<% if @forms.empty? %>
  <p><strong>No forms</strong></p>
<% end %>

<% @forms.each do |form| %>
<div class="form">
  <h2><%= form.name %></h2>
  Price: <%= number_to_currency(form.price) %>
</div>
<% end %>

<%= form_tag new_form_path, method: :get do %>
  <%= select_tag :form_type_id, options_from_collection_for_select(FormType.all, :id, :name) %>
  <%= submit_tag "New Form", name: nil %>
<% end %>
