<h1>Form Details:</h1>

<p>
  <b>Name:</b>
  <%= @form.name %>

</p>


<% @form.properties.each do |name, value| %>
  <p>
    <b><%= name.humanize %>:</b>

    <%= value %>
  </p>
<% end %>

<p>
  <%if ((@form.user_id == current_user.id) || (current_user.role? :admin))%><%= link_to 'Edit', edit_form_path(@form) %> | <% end %>
  <%= link_to 'Back to Forms', forms_path %>
</p>

<% if (Signature.where(:form_id => @form.id).present?)%>
<% signature = Signature.where(:form_id => @form.id).first %>
<% end %>
<% #Defining variables for use in the form_tag
  form_id = @form.id
  @user = User.all
  @current_workflow = Signature.where(:user_id => current_user.id).first
  %>
<% if (signature.user_id == current_user.id) %>


  <h1> Auld. </h1>
  <%= form_tag new_signature_path do %>
    <%= select_tag "user", options_from_collection_for_select(User.all, 'id', 'email') %>
    <%= hidden_field_tag("form_id", form_id) %>
    <%= hidden_field_tag("current_workflow", @current_workflow.id) %>
    <%= submit_tag "Send" %>
  <% end %>
<% end %>
