<!DOCTYPE html>

<html>
  <head>
    <title>Workflow App</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <link href="jumbotron.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-custom bg-faded">

      <div class="navbar-header">
        <p class="navbar-brand">U of M</p>
      </div>


      <!-- Navbar links. -->
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to 'Home', root_path%></li>
        <!--Restrict user's access if they're not logged in.-->
        <% if current_user %>
          <li class="active"><a href="/forms/">Forms</a></li>
          <!-- Example of restricting form template access LINK to admin only. -->
          <% if current_user.role? :admin %>
          <li class="active"><a href="/form_types/">Form Templates</a></li>
          <% end %>
          <% if current_user.role? :admin %>
          <li class="active"><a href="">Control Panel</a></li>
          <% end %>
        <% end %>
      </ul>
        <div align = right>
          <% if current_user %>
          
            <font color ="white"><% if current_user.role? :admin %> ♔ (Administrator) <% end %>Signed in as </font><strong style = color:white><%= current_user.name %></strong>!
            <%= link_to "Sign out", signout_path, class: "btn btn-primary", id: "sign_out" %>
          <% else %>
            <!-- Commented this out: <%= link_to "Sign in with Google", "/auth/google_oauth2", class: "btn btn-primary", id: "sign_in" %> -->
          <% end %>
        </div>
      </nav>
    <div>
    <%= yield %>
    </div>
  </body>


</html>
