<!DOCTYPE html>

<html>
  <head>
    <title>Workform App</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <link href="jumbotron.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-custom bg-faded">
      <h3 align = Middle style = color:white>
        Workflow App
      </h3>

        <div align = right>
          <% if current_user %>
            <font color ="white">Signed in as </font><strong style = color:white><%= current_user.name %></strong>!
            <%= link_to "Sign out", signout_path, class: "btn btn-primary", id: "sign_out" %>
          <% else %>
            <%= link_to "Sign in with Google", "/auth/google_oauth2", class: "btn btn-primary", id: "sign_in" %>
          <% end %>
        </div>
      </nav>
    <div>
    <%= yield %>
    </div>
  </body>
  <div class="footer">
    <div align = center><%= image_tag("olemisslogo.png", :alt => "School of Engineering Logo", :size => "100x35") %></div>
    <p>Workflow Webapp Footer</p>

  </div>
</html>
